node_modules
dist
Dockerfile
.dockerignore
.git


# // jest.config.js
# module.exports = {
#     rootDir: './',
#     testMatch: ['**/*.spec.ts'],
#     moduleFileExtensions: ['ts', 'js', 'json'],
#     testEnvironment: 'node',
#     transform: {
#         '^.+\\.ts$': 'ts-jest',
#     },
#     moduleNameMapper: {
#         '^src/(.*)$': '<rootDir>/src/$1',
#     },
#     collectCoverageFrom: ['src/**/*.(t|j)s'],
#     coverageDirectory: './coverage',
# };
